# mysql
DB_NAME=vita
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql
DB_SSL=false
# node
PORT=8080
NODE_ENV=development
# jwt
JWT_SECRET=sua_chave_secreta
JWT_EXPIRES_IN=1h
# secret: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"