# banco
DB_NAME=vita
DB_USER=vita
DB_PASSWORD=123
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres
DB_SSL=false
DB_SSL_CA=
# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=
# node
PORT=8080
NODE_ENV=development
# jwt
JWT_SECRET=sua_chave_secreta
JWT_EXPIRES_IN=1h
# cors
URL_WEB=http://localhost:3000
